site_name: Social Media Analysis
site_description: Course materials for social media analysis
site_author: Kaicheng Yang
repo_url: https://github.com/YangKCLab/social-media-analysis
repo_name: social-media-analysis
edit_uri: edit/main/docs/

theme:
  name: material
  language: en
  palette:
    - scheme: default
      primary: blue grey
      accent: blue grey
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tracking
    - navigation.sections
    - navigation.path
    - navigation.top
    - navigation.indexes
    - toc.follow
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate

plugins:
  - search
  - mkdocs-jupyter:
      execute: false                    # Don't run notebooks (outputs pre-committed)
      include_source: true              # Enable download links
      show_input: true                  # Show code cells
      theme: light                      # Notebook theme
      ignore_h1_titles: false          # Use notebook titles

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - attr_list
  - md_in_html
  - toc:
      permalink: true

extra_css:
  - stylesheets/extra.css

extra:
  analytics:
    provider: google
    property: G-VE0KJD22CN
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/YangKCLab
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/yang3kc
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/kaicheng-yang-43477213b/

# ToC
nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Topics:
    - Data Collection:
      - topics/data-collection/index.md
    - Data Format and Management:
      - topics/data-format-management/index.md
    - Measurements and Metrics:
      - topics/measurements/index.md
    - Hypothesis Testing and Statistical Analysis:
      - topics/stats/index.md
    - Visualization:
      - topics/visualization/index.md
    - Network Analysis:
      - topics/network/index.md
  - Research Papers: papers.md